{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxSingleQuote": true,
    "printWidth": 80,
    "semi": false,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
  
    "overrides": [
      {
        "files": ".prettierrc",
        "options": { "parser": "json" }
      },
      {
        "files": "*.php",
        "options": {
          "singleQuote": false,
          "tabWidth": 4,
          "braceStyle": "per-cs",
          "parser": "php",
          "phpVersion": "8.2",
          "plugins": ["@prettier/plugin-php"]
        }
      }
    ],
  
    "tailwindFunctions": ["tw", "twJoin", "twMerge", "tv"],
  
    "plugins": ["prettier-plugin-tailwindcss"]
  }